<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TV-Show</title>
</head>
<body>
    <header id = "header-desktop">
      <a class="container-logo" href="index.html">
        <img src="./assets/tvm-header-logo.png">
      </a>
    </header>

    <nav>
        <input id="txtName" type = "text" placeholder="Search..." />
        <button (click)="fetchData()"> Display Name </button>
        <div id="main"></div>
    </nav>
</body>
</html>
